<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- Arguments -->
    <xacro:arg name="use_ros2_control" default="true"/>

    <!-- URDF Robot Description-->
    <xacro:include filename="robot_core.xacro" />

    <!-- Sensors -->
    <xacro:include filename="lidar.xacro" />
    <xacro:include filename="depth_camera.xacro" /> 

    <!-- Control -->
    <xacro:if value="$(arg use_ros2_control)">
        <xacro:include filename="ros2_control_gz_myactuator.xacro" />
        <!--<xacro:include filename="ros2_control_gz_odrive.xacro" /> -->
    </xacro:if>
    <xacro:unless value="$(arg use_ros2_control)">
        <xacro:include filename="gazebo_control.xacro" />
    </xacro:unless> 

</robot> 